<section
  class="w-full overflow-hidden px-0 md:px-20 py-20 flex flex-wrap gap-8"
>
  <div
    class="flex-1 h-80 sm:h-96 bg-slate-300 cursor-pointer group sm:min-w-[500px]"
  >
    <div
      class="w-full h-full bg-[url('https://www.pngmart.com/files/3/Woman-Model-Transparent-Background.png')] bg-no-repeat bg-[size:auto_80%] bg-[position:30%_100%] group-hover:bg-[size:auto_83%] transition-all duration-500"
    >
      <div
        class="bg-gradient-to-l from-slate-500 via-transparent w-full h-full p-8 sm:p-20 flex flex-col justify-center items-end gap-6"
      >
        <div
          class="text-2xl sm:text-4xl text-slate-50 font-bold w-full xl:w-1/2 text-right"
        >
          Last chance of amazing deals!
        </div>
        <div class="text-stone-300 font-medium w-full xl:w-1/2 text-right">
          Check out!
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex-1 h-80 sm:h-96 bg-slate-800 cursor-pointer group sm:min-w-[500px]"
  >
    <div
      class="w-full h-full bg-[url('https://www.pngmart.com/files/22/Men-Fashion-PNG-Picture.png')] bg-no-repeat bg-[size:auto_90%] bg-[position:92%_120%] group-hover:bg-[size:auto_93%] transition-all duration-500"
    >
      <div
        class="w-full h-full p-8 sm:p-20 flex flex-col justify-center items-start gap-6"
      >
        <div
          class="text-2xl sm:text-4xl text-slate-50 font-bold w-full xl:w-1/2 text-left"
        >
          Men's fashion items available!
        </div>
        <div class="text-stone-300 font-medium w-full xl:w-1/2 text-left">
          Don't hesitate!
        </div>
      </div>
    </div>
  </div>
</section>
