<section
  class="bg-slate-200 w-full min-h-screen p-10 pt-20 relative overflow-x-hidden flex justify-start items-center"
>
  <!-- <div
    class="absolute h-screen w-screen left-0 top-0 bg-no-repeat bg-[size:80%] bg-[position:200%_130%] xs:bg-[position:200%_180%] sm:bg-[position:100%_160%] sm:bg-[size:60%] md:bg-[size:auto] md:bg-[position:200%_-70%] lg:bg-[position:100%_-70%] bg-[url('https://www.pngarts.com/files/12/Barbara-Palvin-PNG-Download-Image.png')]"
  ></div> -->

  <div
    class="absolute right-0 top-0 w-full sm:w-3/4 md:w-1/2 h-full flex justify-center items-end"
  >
    <div
      class="w-full h-3/4 relative overflow-hidden opacity-50 md:opacity-100"
    >
      <img
        class="w-3/4 xxs:h-3/4 md:w-full md:h-full xxs:object-contain absolute bottom-0"
        src="https://www.freeiconspng.com/thumbs/model-png/home-model-14.png"
        alt="hero-image"
      />
    </div>
  </div>

  <article
    class="w-full lg:w-1/2 flex flex-col items-center md:items-start gap-3 md:px-20 z-10 [&>*]:text-center md:[&>*]:text-left -mt-40 md:-mt-0"
  >
    <div class="text-2xl sm:text-4xl font-thin">Unprecedented bargain!</div>
    <div class="text-3xl xs:text-4xl sm:text-6xl font-medium">
      Check out outstanding offers
      <span class="text-yellow-500">on every new collection!</span>
    </div>
    <div class="text-lg xs:text-xl text-black md:text-stone-500">
      Save up to 70% with our discount coupons!
    </div>
    <!-- <button
      class="cursor-pointer hover:text-xl transition-all bg-[url('https://www.pngkit.com/png/full/9-96433_yellow-watercolor-transparent-yellow-paint-splash-transparent-background.png')] bg-[size:200%_300%] bg-[position:60%_30%] py-3 px-6 text-slate-50 font-bold text-lg"
    >
      See more
    </button> -->
  </article>
</section>
