<footer
  class="w-full min-h-screen/2 bg-slate-200 p-10 px-5 md:px-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative"
>
  <div class="flex flex-col items-start p-5 gap-3">
    <img
      class="h-16 mb-6 self-center xs:self-auto"
      src="https://www.pngkey.com/png/full/978-9783602_signature-transparent-old-signature.png "
      alt="website-logo"
    />
    <div class="font-medium text-lg">Contact</div>
    <ul class="[&>*]:text-stone-800 [&>*]:font-light">
      <li>
        <b class="font-medium">Adress:</b> 3014 277th Ave SE Fall City WA 98024
      </li>
      <li><b class="font-medium">Phone:</b> (206) 342-8631, Seattle, WA</li>
      <li><b class="font-medium">Hours:</b> 10:00 - 18:00, Mon - Sat</li>
    </ul>
    <div class="font-medium text-lg">Follow us</div>
    <div class="flex text-stone-800 gap-2 text-lg">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa-brands fa-tiktok"></i>
    </div>
  </div>
  <div class="flex">
    <div class="p-5 flex flex-col gap-4">
      <div class="font-medium text-lg">About</div>
      <ul class="[&>*]:text-stone-800 [&>*]:font-light">
        <li>About Us</li>
        <li>Delivery Info</li>
        <li>Privacy policy</li>
        <li>Terms & conditions</li>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="p-5 flex flex-col gap-4">
      <div class="font-medium text-lg">Legal</div>
      <ul class="[&>*]:text-stone-800 [&>*]:font-light">
        <li>Pricing</li>
        <li>Terms</li>
        <li>Paragraphs</li>
        <li>Legal agreements</li>
        <li>Customer service</li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col items-start p-5 gap-5">
    <div class="font-medium text-lg">Payment Methods</div>
    <div class="font-light text-sm text-stone-600">
      All available payment methods are listed below. For more information
      contact your payment operator and verify the support for this shop.
    </div>
    <div class="flex gap-4">
      <img
        class="h-4 xs:h-6"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/2560px-Visa_Inc._logo.svg.png"
        alt="visa"
      />
      <img
        class="h-4 xs:h-6"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/1280px-Mastercard-logo.svg.png"
        alt="mastercard"
      />
      <img
        class="h-4 xs:h-6"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Maestro_logo.svg/1200px-Maestro_logo.svg.png"
        alt="maestro"
      />
      <img
        class="h-4 xs:h-6"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2560px-PayPal.svg.png"
        alt="paypal"
      />
    </div>
    <div class="font-light text-sm text-stone-600">Secure Payment Gateways</div>
  </div>

  <div
    class="absolute bottom-5 left-1/2 -translate-x-1/2 text-stone-700 font-light"
  >
    © Multymdmare B2B BPO
  </div>
</footer>
