<div
  (click)="navigateToDetails($event)"
  *ngIf="product"
  class="cursor-pointer w-full aspect-[5/7] shadow-xl p-5 hover:shadow-2xl transition-shadow border-solid border-stone-300 border bg-slate-50"
>
  <div class="w-full aspect-square overflow-hidden relative">
    <img
      [src]="product.image"
      [alt]="product.name"
      class="w-full h-full object-cover"
    />

    <i
      *ngIf="product.gender === 'female'"
      class="fa fa-female text-pink-500 text-xl absolute top-3 right-3"
    ></i>
    <i
      *ngIf="product.gender === 'male'"
      class="fa fa-male text-blue-400 text-xl absolute top-3 right-3"
    ></i>
  </div>

  <div class="text-xl font-medium -mb-1 mt-4 truncate">{{ product.name }}</div>
  <div *ngIf="categoriesUpperCase" class="text-md text-stone-600 truncate">
    {{
      categoriesUpperCase.slice(0, categoriesUpperCase.length - 1).join(", ")
    }}
  </div>

  <div class="flex justify-between items-center mt-3 text-md">
    {{ product.price | currency }}
    <button
      id="add-to-cart"
      (click)="onAddToCart()"
      class="w-10 flex justify-center items-center aspect-square bg-opacity-20 bg-yellow-500 text-yellow-500 rounded-full hover:text-slate-50 hover:bg-opacity-100 transition-all"
    >
      <mat-icon class="scale-75" id="add-to-cart">shopping_bag</mat-icon>
    </button>
  </div>
</div>
