<section class="w-full min-h-screen overflow-hidden pt-20 p-10 md:p-20">
  <div class="w-full text-center text-4xl md:text-6xl font-bold px-10">
    Featured Products
  </div>
  <div class="w-full text-center text-lg md:text-xl text-stone-600 mt-4 px-10">
    Autumn collection now available!
  </div>

  <article
    class="w-full flex flex-wrap justify-center items-start pt-10 md:pt-20 gap-8"
  >
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>

    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>

    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>

    <app-product></app-product>
  </article>
</section>
