<nav
  class="flex justify-between bg-slate-200 px-6 md:px-16 py-5 shadow-md fixed top-0 left-0 w-full z-20"
>
  <div>
    <img
      class="h-8"
      src="https://www.pngkey.com/png/full/978-9783602_signature-transparent-old-signature.png "
    />
  </div>

  <div
    class="flex gap-4 xs:gap-8 md:gap-14 [&>*]:text-xl [&>*]:relative [&>*]:text-stone-600"
  >
    <a
      routerLink="/home"
      routerLinkActive="!text-yellow-500 after:scale-x-100"
      class="hover:text-yellow-500 after:w-1/2 after:h-1 after:rounded-full after:absolute after:bg-yellow-500 after:bottom-0 after:left-0 after:scale-x-0 hover:after:scale-x-100 transition-all after:transition-all after:origin-left"
      ><i class="fa fa-home block md:hidden"></i
      ><span class="hidden md:block">Home</span></a
    >
    <a
      routerLink="/shop"
      routerLinkActive="!text-yellow-500 after:scale-x-100"
      class="hover:text-yellow-500 after:w-1/2 after:h-1 after:rounded-full after:absolute after:bg-yellow-500 after:bottom-0 after:left-0 after:scale-x-0 hover:after:scale-x-100 transition-all after:transition-all after:origin-left"
      ><i class="fa fa-magnifying-glass block md:hidden"></i
      ><span class="hidden md:block">Shop</span></a
    >
    <a
      routerLink="/contact"
      routerLinkActive="!text-yellow-500 after:scale-x-100"
      class="hover:text-yellow-500 after:w-1/2 after:h-1 after:rounded-full after:absolute after:bg-yellow-500 after:bottom-0 after:left-0 after:scale-x-0 hover:after:scale-x-100 transition-all after:transition-all after:origin-left"
      ><i class="fa fa-phone block md:hidden"></i
      ><span class="hidden md:block">Contact</span></a
    >
    <a
      routerLink="/cart"
      class="hover:text-yellow-500 after:w-1/2 after:h-1 after:rounded-full after:absolute after:bg-yellow-500 after:bottom-0 after:left-0 after:scale-x-0 hover:after:scale-x-100 transition-all after:transition-all after:origin-left"
      routerLinkActive="!text-yellow-500"
    >
      <mat-icon> shopping_cart </mat-icon>
    </a>
  </div>
</nav>
