<section class="w-full p-0 py-10 sm:p-10 md:p-20 flex flex-col gap-5">
  <span class="text-lg sm:text-xl font-light px-8 sm:px-0"
    >COMPLETE A FORM</span
  >
  <span class="font-bold text-xl sm:text-3xl px-8 sm:px-0">
    Share your thoughts with us!
  </span>
  <form
    class="flex flex-col px-4 sm:px-0 gap-2 w-full xl:w-1/2 [&>*]:bg-slate-200 [&>*]:py-3 [&>*]:px-5 [&>*]:outline-none"
  >
    <input type="text" placeholder="Enter your name" />
    <input type="email" placeholder="Enter your email adress" />
    <textarea
      placeholder="Enter your message"
      cols="30"
      rows="10"
      class="resize-none"
    ></textarea>
  </form>
</section>
