<main class="overflow-x-hidden overflow-y-auto">
  <section
    class="px-5 pt-20 pb-5 md:p-20 md:pb-10 overflow-x-auto scrollbar-thin"
  >
    <table
      class="w-full flex flex-col gap-5 mt-10 min-w-[640px]"
      *ngIf="cartItems && cartItems.length > 0"
    >
      <thead>
        <tr
          class="p-5 w-full grid grid-cols-[0.3fr,minmax(0,1fr),1fr,1fr,0.3fr] md:grid-cols-[0.5fr,minmax(0,1fr),1fr,1fr,0.5fr] lg:grid-cols-[0.5fr,minmax(0,1fr),2fr,1fr,0.5fr] xl:grid-cols-[0.5fr,minmax(0,2fr),2fr,2fr,0.5fr] [&>*]:text-lg [&>*]:font-medium [&>*]:text-center lg:[&>*]:text-left border border-stone-300 [&>*]:px-5"
        >
          <td class="min-w-[70px]">#</td>
          <td>Name</td>
          <td>Params</td>

          <td>Total</td>
          <td>Remove</td>
        </tr>
      </thead>
      <tbody class="flex flex-col gap-2">
        <app-cartproduct
          (itemToDelete)="deleteFromCart($event)"
          (quantityChange)="changeQuantity($event)"
          (sizeChange)="changeSize($event)"
          *ngFor="let item of cartItems"
          [item]="item"
        ></app-cartproduct>
      </tbody>
    </table>

    <div *ngIf="!cartItems || cartItems.length === 0" class="mt-20">
      <h1>No items in cart yet!</h1>
      <h3>
        Go shopping and choose some products of your liking, add them to cart
        and come back here to complete your purchase!
      </h3>
    </div>
  </section>

  <section class="px-5 py-10 md:p-20 md:pt-5">
    <article
      class="w-full lg:w-1/2 flex flex-col gap-2 p-5 border border-stone-300"
    >
      <span class="text-2xl font-medium mb-5">Cart Totals</span>

      <div
        class="border border-stone-300 flex justify-between items-center p-5 py-3"
      >
        <span class="text-md">Shipping</span>
        <span class="text-xl font-medium">Free</span>
      </div>
      <div
        class="border border-stone-300 flex justify-between items-center p-5 py-3"
      >
        <span class="text-md">Total</span>
        <span class="text-xl font-medium">{{ totalPrice | currency }}</span>
      </div>
      <button
        class="border-2 mt-5 border-yellow-500 bg-opacity-20 text-yellow-500 px-12 py-3 font-medium text-md sm:text-xl hover:bg-yellow-500 hover:text-slate-50 transition-all"
      >
        Proceed to checkout
      </button>
    </article>
  </section>
</main>
